.slider {
  -webkit-appearance: none;
  width: 80%;
  max-width: 400px;
  margin: 3rem 0 6.5rem 0;
  background: transparent;
}

.slider:hover {
  z-index: 50;
}

@media (min-width: 425px) {
  .slider {
    -webkit-appearance: none;
    width: 80%;
    max-width: 400px;
    margin: 4rem 0 6.5rem 0;
    background: transparent;
  }
}

.slider::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  top: 8px;
  height: 10px;
  background: transparent;
  background-color: var(--gray-opaque);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  background: transparent;
  width: 65px;
  height: 140px;
  outline: none;
  transform: translateY(-25%);
  border-radius: 10px;
  background-image: url("/images/studfinder.png");
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.slider::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 8px var(--gray-dark);
}

.mark {
  cursor: pointer;
  top: 6px;
  width: 1.5px;
  height: 8px;
  background-color: var(--gray-medium);
}

.mark.customSlider-mark-before {
  background-color: var(--gray-medium);
}

.mark.customSlider-mark-active {
  display: none;
}

.track {
  width: 65%;
  max-width: 340px;
  display: flex;
  justify-content: space-between;
  margin-bottom: -2rem;
  background: transparent;
}

@media (min-width: 425px) {
  .track {
    width: 55%;
    max-width: 340px;
    display: flex;
    justify-content: space-between;
    margin-bottom: -3rem;
  }
}
