.slider {
  -webkit-appearance: none;
  width: 80%;
  max-width: 400px;
  margin: auto;
  background-color: aqua;
}

.slider::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  top: 8px;
  height: 4px;
  background: var(--track-color);
}

.slider::-webkit-slider-runnable-track.customSlider-track-0 {
  background: var(--main-color);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  background: transparent;
  width: 100px;
  height: 200px;
  outline: none;
  transform: translateY(-25%);

  border-radius: 10px;
  background-image: url("studfinder.png");
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.slider::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 8px var(--main-color-hover);
}

.mark {
  cursor: pointer;
  top: 6px;
  width: 1.5px;
  height: 8px;
  background-color: var(--mark-color);
}

.mark.customSlider-mark-before {
  background-color: var(--main-color);
}

.mark.customSlider-mark-active {
  display: none;
}
