.track {
  /* width: 49%;
  max-width: 303px;
  display: flex;
  justify-content: space-between;
  margin-bottom: -30px; */
  top: 8px;
  height: 4px;
}

.thumb {
  /* width: 200px;
  height: 200px; */
  cursor: pointer;
  /*color for the thumb */
  background: var(--main-color);
  /* shape of the thumb: circle */
  width: 20px;
  height: 20px;
  border-radius: 100%;
  /* remove default outline when selected */
  outline: none;
}

.marking {
  /* border-radius: 50px;
  height: 20px;
  width: 3px;
  background-color: gray; */
  cursor: pointer;
  top: 6px;
  width: 1.5px;
  height: 8px;
  background-color: #aaaaaa;
}

.horizontalSlider {
  /* width: 100%;
  max-width: 500px;
  height: 200px;
  margin: auto; */
  max-width: 300px;
  margin: auto;
}