.background {
  background-image: url("./src/assets/wall-texture.avif");
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
}
