.profileDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid gray;
  font-size: 13px;
  text-align: center;
  margin-top: 1rem;
  padding: 0.25rem 1rem;
  border-radius: 3%;
  line-height: 0;
  background-color: white;
  box-shadow: 0 5px 5px -4px gray;
}

.imageHanger {
  width: 90px;
  height: 90px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  transform: rotate(-135deg);
  margin-bottom: -2.75rem;
  box-shadow: inset -7px -7px 5px -7px rgba(0, 0, 0, 0.4);
}

.pictureFrame {
  border: 10px solid #613613;
  padding: 1.75rem;
  border-radius: 3%;
  background-color: #fafafa;
  box-shadow: 0 8px 8px -4px gray;
}

.profileImage {
  width: 300px;
  border: 1px solid black;
}

.profileColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center
}