@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Special Elite', cursive;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --main-color: #aaaaaa;
  --main-color-hover: #aaaaaa3f;
  --track-color: #ddd;
  --mark-color: #aaaaaa;
}
